.git
.github
.local
node_modules
**/node_modules
dist
**/dist
coverage
.vite
.DS_Store
*.log
.env
.env.*
**/.env
**/.env.*
!.env.sample
Dockerfile.local
apps/api/Dockerfile
apps/frontend/Dockerfile
apps/worker/Dockerfile
apps/frontend/nginx.conf
docs
infra/*.json
infra/main.json
scripts
README.md
samples
